
p{
    line-height: 35px;
    color: $color-fuente-principal;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: $color-fuente-principal;
}

.row{
    justify-content: center;
    align-items: center;
}
.col-sm-6 nleft{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
}


